h1 {
    color: black;
    background-color: lightcoral;
    font-family: courier, fixed, monospace;
    font-size: 3.5em;
    text-align: center
}
body {
    color: black;
    background-color: lightcoral;
    font-family: monospace;
    text-align: center;
    padding: 50px;
    border: 4px;
    border-style: double
}
hr {
    height: 2em;
    color: black;
    background-color: coral;
    
}
section {
    color: black;
    background-color: lightcoral;
    font-family: monospace;
    text-align: center
}
h2 {
    color: black;
    font-family:courier, fixed, monospace;
    text-align: center
}
iframe{
    border: 2px;
    border-style: double
}

nav {
    border:6px;
    border-style:double;
    color: black;
    background-color: dodgerblue
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  word-spacing: 20px;
}
nav ul li {
  display: inline;
  font-size: 20px
}
nav ul li a {
  display: block;
  display: inline;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color:darkslateblue;
}    
a {
  
  }
figure{
  border: double;
  border-width:4px;
  background-color:cornflowerblue;
  padding:3em;
  }
figure.entry-resize img{
  width: 90%;
  height: auto;
  max-width: 5000px;
}
figcaption{
  font-family:roman, 'times new roman', times, serif;
  color: black;
  border:2px;
  font-size: 2em;
  padding: 1em; 
  }
body section.gallery{
  font-size: 1.5em;
  
  
}
body section.gallery p{
  font-size: 1.5em;
  }
body section.quickinfo{
  background-color: lightcoral;
  font-size: 2em;
  
  
 }
body section.resume {
  font-family:roman, 'times new roman', times, serif;
  font-size: 1.3em;
  text-align:left;
  border: solid;
  border-width: .5em;
  border-color:darkslateblue;
  padding:20px; 
  background-color: white;
  margin:200px
}
body section.resume h1{
  text-align:left;
  background-color: white;  
}
body section.resume h2 {
  text-align:left;
  background-color: white;
}
body section.about p{
  font-size: 1.5em;
  text-align: left;
  padding: 1.5em;
}
body section.about div figure{
  display: flex;
}
body section.entries h2 {
  font-size: 3em;
}
body section.entries h3 {
  font-size:4em;
}
body section.entries p{
  margin: auto;
  font-size: 2em;
  font-family:roman, 'times new roman', times, serif;
  background-color: white;
  padding: 100px;
  border-style: solid;
  border-width: .3em;
  border-color: cornflowerblue;
  text-align: left;
  
}
body section.entries img{
  border-style: solid;
  border-width: 1.5em;
  
}
body section.entries figure div{
  display: flex;
  
}


body div.reflection p {
  font-size:1.5em;
  font-family:roman, 'times new roman', times, serif;
  background-color:white;
  text-align: left
}
body div.reflection h1{
  background-color:white;
  font-size:4em;
  
}
body div.reflection{
  border: solid;
  border-width: .5em;
  border-color:darkslateblue;
  padding:20px; 
  background-color: white;
  margin:200px
}
body section.galHead p{
  font-size:1.4em;
    
}
body section.galHead h1{
  font-size: 4em;  
}
body section.gallery div {
  display: flex;
}
section.inList ol li{
  font-size: 2em
}
section.inList h2{
  font-size: 3em
}
 img{
    display: flex;
    flex: 1;
    margin: auto;
    max-width:800px;
    width: 80%;
 }
 ol{
   list-style-type:none;
   
 }
 body div.page {
     padding: 1.4em;
 }
body section.photoHead h2{
   font-size:4em; 
   background-color:transparent;
}
body section.photoHead{
   background-image:url("Pics/reflection-title.jpg");
   /* ebb: You needed to point a relative filepath into your Pics directory, just you would to display an image on the HTML file. */
   background-size:100%;
   background-color: #cccccc;
   width: 90%;
   max-width: 2000px;
   padding:10vw;
  margin:auto;
  background-size: auto;
}