h1 {
    color: black;
    background-color: lightcoral;
    font-family: courier, fixed, monospace;
    text-align: center
}
body {
    color: black;
    background-color: lightcoral;
    font-family: monospace;
    text-align: center;
    padding: 25px;
    border: 2px;
    border-style: double
}
hr {
    height: 2em;
    color: black;
    background-color: coral;
    
}
section {
    color: black;
    background-color: lightcoral;
    font-family: monospace;
    text-align: center
}
h2 {
    color: black;
    background-color: #20B2AA;
    font-family:courier, fixed, monospace;
    text-align: center
}
iframe{
    border: 2px;
    border-style: double
}