head {color:black;background-color:lime;font-family:courier, fixed, monospace}
body {color:black;background-color:aqua;font-family:arial, helvetica, sans-serif}
section {color:black; background-color:lime;font-family:arial, helvetica, sans-serif}