h1{color:black;background-color:lime;font-family:courier, fixed, monospace;text-align:center}
body {color:black;background-color:aqua;font-family:monospace;text-align:center}
section {color:black; background-color:lime;font-family:monospace;text-align:center}
